body{
    position:relative ;
}

.conteiner__encomende{
    background-color: white;
    z-index: 10;
    width: 60%;
    margin-left: 20%;
    height: 90vh;
    margin-bottom: 4rem;
    border-radius: 3rem;
}

.titulo__encomende{
    margin-top: 0.5rem;
    margin-left:35%;
    display: flex;
    font-size: 2rem;
   
}

.botão__fechar-popUp{
    
    margin-left: 40%;
    font-weight: bold;
    cursor: pointer;
}

.fechar__popUp{
    display: none;
}

.form__encomende{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4rem;
}

.item-form__encomende{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.detalhes{
    height: 10vh;
}