body{ background-image: linear-gradient(rgba(182, 98, 250, 0.659),rgb(161, 60, 255), rgba(47, 2, 90, 0.986), rgb(0, 0, 0));}

a{text-decoration: none;}

@media ( min-width:800px) {
    
.header__container{
   
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem ;
    width: 98.7vw;
}

.container__logo{
    width: 80%;
    margin-left: 10%;
}
.navegacao__lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
}
.navegacao{
    display: flex;
    width: 85%;
    margin-left: 7.5%;
}

.logo{
    color: cornsilk;
    margin-left: 40%;
    margin-top: 4rem;
    width: 20%;
   
}
.navegacao__lista-item{
 border: none;
 color:#fff;
 font-size: 1.5rem;
 text-decoration: none;
 text-align: center;
}

.navegacao__card{
    border: 1px #fff solid;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8%;
    padding: 5%;
    text-align: center;

}
.navegacao__card:last-child{
    padding: 2%;
    padding-top: 5%;
    text-align: center;
}


.navegacao__card:hover{
    transition: 0.3s;
    margin-top: 7%;
    margin-bottom: 1%;
}
}
@media  (max-width:800px) {
    
.header__container{
    background-image: linear-gradient(rgba(190, 121, 255, 0.542),rgb(161, 60, 255), rgb(0, 0, 0));
    display: flex;
    flex-direction:column;
    padding: 1rem 0 1rem ;
    width: 100vw;
}

.container__logo{
    width: 80%;
    margin-left: 10%;
}
.navegacao__lista{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
}
.navegacao{
    display: flex;
    width: 85%;
    margin-left: 7.5%;
}

.logo{
    color: cornsilk;
    margin-left: 25%;
    margin-top: 4rem;
    width: 50%;
   
}
.navegacao__lista-item{
 border: none;
 color:#fff;
 font-size: 1.5rem;
 text-decoration: none;
 text-align: center;
}

.navegacao__card{
    border: 1px #fff solid;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8%;
    padding: 5%;
    text-align: center;

}
.navegacao__card:last-child{
    padding: 2%;
    padding-top: 5%;
    text-align: center;
}


.navegacao__card:hover{
    transition: 0.3s;
    margin-top: 7%;
    margin-bottom: 1%;
}
}